# Project exclude paths
/.gradle/
/Connect Four/task/build/
/Connect Four/task/out/
/Connect Four/task/out/production/classes/
/Topics/For loop and ranges/The sum of integers from a to b/out/
/Topics/For loop and ranges/The sum of integers from a to b/out/production/classes/
/Topics/Getting substrings/The last of u/out/
/Topics/Getting substrings/The last of u/out/production/classes/
/Topics/Named arguments/Perimeter/out/
/Topics/Named arguments/Perimeter/out/production/classes/
/Topics/Processing strings/Double characters/out/
/Topics/Processing strings/Double characters/out/production/classes/
/Topics/Standard input with Java Scanner/Four numbers/out/
/Topics/Standard input with Java Scanner/Four numbers/out/production/classes/
/Topics/When expression/Floor-space of the room/out/
/Topics/When expression/Floor-space of the room/out/production/classes/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/
/Topics/While loops/The sequence 1 2 2 3 3 3/out/production/classes/